:root {
	--gray-text: #8E8E8E;
	--black-text: #333;
	--insta-gradient: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%), -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%), -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

#info {
	font-family: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	right: 450px;
}
#info>.info-user>div>a>img {
	border-color: transparent;
}

.avatar {
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	cursor: pointer;
	border: 2px solid #333;
	border-radius: 100px;
	padding: 2px;
	cursor: pointer;
}
/*info-user box*/
.info-user {
	width: 100%;
	height: 60px;
	margin: 18px 0 10px 0;
	display: flex;
	flex-direction: row;
}
.info-user > .info-detail {
	flex-grow: 1;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/*highlight account-name*/
.account-name > a {
	text-decoration: none;
	font-size: 0.8rem;
	color: var(--black-text);
	font-weight: bold;
}
.account-name>a:hover {
	text-decoration: underline;
}
.info-user > .info-detail > .user-name {
	text-transform: capitalize;
	font-size: 0.8rem;
	color: var(--gray-text);
}




/*Gợi ý cho bạn*/
#follow {
	width: inherit;
}
#follow-advice {
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	width: inherit;
	margin-top: 12px;
	padding: 4px 0px;
	font-weight:bold;
	font-size: 0.7rem;
	color: var(--gray-text);
	display: flex;
}
#follow-advice > div:first-child {
	flex-grow: 1;
}
#follow-advice > div:last-child>a {
	font-size: 0.6rem;
	text-decoration: none;
	color: var(--black-text);
}


/*other user*/
#follow .info-user {
	height: 40px;
}
#follow>.info-user>div>.avatar {
	padding: 1.5px;
	border: 2px solid #555;
}
#follow>.info-user>.info-detail>.account-name>a {
	font-size: 0.7rem;
}

#follow>.info-user>.info-detail>.follow-status {
	color: var(--gray-text);
	font-size:0.65rem;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
#follow>.info-user>.follow-button {
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	cursor: pointer;
	color: #28A0F5;
	font-size: 0.65rem;
	font-weight: bold;
	padding-top: 10px;
}


/*insta-privacy*/
#insta-privacy {
	font-family: inherit;
	width: inherit;
	font-size: 0.55rem;
	line-height: 0.8rem;
	word-spacing: 0.07rem;
	margin-top: 20px;
	color: #c7c7c7;
	font-weight: 700;
}
#insta-privacy>a { 
	color: #c7c7c7;
	text-decoration: none;
}


/*change position of info box when resizing brower window*/
@media screen and (max-width: 1900px) {
	#info {
		right: 400px;
	}
}
@media screen and (max-width: 1800px) {
	#info {
		right: 350px;
	}
}
@media screen and (max-width: 1700px) {
	#info {
		right: 300px;
	}
}
@media screen and (max-width: 1600px) {
	#info {
		right: 250px;
	}
}
@media screen and (max-width: 1500px) {
	#info {
		right: 200px;
	}
}
@media screen and (max-width: 1450px) {
	#info {
		right: 170px;
	}
}
@media screen and (max-width: 1400px) {
	#info {
		right: 170px;
	}
}
@media screen and (max-width: 1350px) {
	#info {
		right: 150px;
	}
}
@media screen and (max-width: 1300px) {
	#info {
		right: 120px;
	}
}
@media screen and (max-width: 1250px) {
	#info {
		right: 100px;
	}
}
@media screen and (max-width: 1200px) {
	#info {
		right: 70px;
	}
}
@media screen and (max-width: 1150px) {
	#info {
		right: 50px;
	}
}
@media screen and (max-width: 1050px) {
	#info {
		right: 30px;
	}
}
@media screen and (max-width: 1020px) {
	#info {
		display: none;
	}
}
