/*top fixed menu*/
#page .menu-container {
	width: 100%;
	height: 54px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #FFF;
	border: 1px solid black;
	border: 1px solid var(--border);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
}


.menu-container .main-menu {
	width: 975px;
	padding: 0px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#instagram-writing {
	padding-left: 20px; 
	width: 190px;
	text-align: left;
	padding-top: 10px;
}


#find-container {
	width: 215px;
	height: 25px;
	text-align: center;
	background-color: var(--background);
	border: 1px solid var(--border);
	border-radius: 4px;
}

#find-box {
	color: var(--gray);
	width: 55px;
	background-color: var(--background);
	border: none;
}

#find-cancel {
	visibility: hidden;
}

#find-box:focus {
	width: 150px;
	outline: none;
}
#find-box:focus-within> #find-cancel {
	visibility: visible;
}

/*hide find-box when screen shrink to 750px*/
@media screen and (max-width: 750px) {
	#find-container {
		display: none;
	}
}



/*home, explore, user ...*/
.main-menu .navigator {
	display: flex;
	text-align: right;
	height: 25px;
}

.navigator .icon {
	width: 22px;
	height: 30px;
	margin-right: 20px;
}


#user-avatar {
	padding: 2.4px;
	border-radius: 15px;

}
/*user-menu*/
#user-menu {
	width: 210px;
	height: 140px;
	position: absolute;
	top: 45px;
	right: 278px;
	background-color: #fff;
	font-size: 0.7rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	border: 1px solid var(--border);
	border-radius: 6px;
	box-shadow: 0px 0px 15px var(--border);
	padding: 5px 0px;
	visibility: hidden;
}
.user-menu-option {
	padding-left: 10px;
	vertical-align: middle;
	width: 100%;
	height: 18px;
	padding: 10px 0px;
	text-align: start;
}
/*border on hover*/
.user-menu-option:nth-child(1) {
	border-radius: 6px 6px 0 0;
}
.user-menu-option:nth-child(4) {
	border-radius: 0 0 6px 6px;
}

/*horizontal line*/
.option-link:nth-child(3) {
	border-bottom: 1px solid var(--border);
}

.user-menu-option .user-menu-text {
	padding-left: 10px;
}

.user-menu-icon {
	padding-left: 8px;
}

/*color on hover*/
.user-menu-option:hover {
	background-color: #dcd0d061;
}
.option-link {
	width: 100%;
	color: inherit;
	text-decoration: none;
}